<div class="container">
  <div class="site-page-container">
    <div class="site-card">
      <button class="btn btn-primary mb-10" [routerLink]="['/add-employee']">
        Add Employee
      </button>
      <div class="thead">
        <input  type="text" (keyup)="applyFilter($event)" placeholder="search" class="form-control search-box">
      </div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="employee_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.employee_name}} </td>
        </ng-container>

        <!-- Age Column -->
        <ng-container matColumnDef="employee_age">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
          <td mat-cell *matCellDef="let element"> {{element.employee_age}} </td>
        </ng-container>

        <!-- Salary Column -->
        <ng-container matColumnDef="employee_salary">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
          <td mat-cell *matCellDef="let element"> {{element.employee_salary}} </td>
        </ng-container>

        <!-- Salary Column -->
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd-MMM-yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element"> <button class="btn btn-primary"
              [routerLink]="['/employee-detail/'+element.id]">View</button> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

</div>
