
<div class="container">
    <div class="site-page-container">
        <div class="site-card">
            <h2 class="text-center">Employee Detail</h2>
            <form #employeeForm="ngForm" novalidate="novalidate">
                <div class="row justify-content-start">
                    <div class="col-md-6">
                        <div class="form-group" >
                            <label class="control-label">
                                Name
                            </label>
                            <div class="color-picker-input">
                                <input class="form-control" type="text"  name="name" 
                                required="required" [(ngModel)]="employee.employee_name"  #Name="ngModel"
                                placeholder='Employee Name' 
                                [ngClass]="{'has-error':Name.invalid && onClickValidation}" disabled> 
                            </div>	
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" >
                            <label class="control-label">
                                Age
                            </label>
                            <div class="color-picker-input">
                                <input class="form-control" type="number"  name="age" 
                                required="required" [(ngModel)]="employee.employee_age"  #Age="ngModel"
                                placeholder='Employee Age' 
                                [ngClass]="{'has-error':Age.invalid && onClickValidation}" disabled> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" >
                            <label class="control-label">
                                Salary
                            </label>
                            <div class="color-picker-input">
                                <input class="form-control" type="number"  name="salary" 
                                required="required" [(ngModel)]="employee.employee_salary"  #Salary="ngModel"
                                placeholder='Employee Salary' 
                                [ngClass]="{'has-error':Salary.invalid && onClickValidation}" disabled> 
                            </div>									 
                        </div>
                    </div>
                </div>
            </form>
            <div class="clearfix"></div>
            <div class="col-md-12 no-padding text-right">
                <button title="Cancel" class="btn btn-default site-cancel-button" type="button" [routerLink]="['/employee-list']">Back
                </button>
            </div>
        </div>
    </div>
</div>