/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.site-page-container {
  padding: 20px;
  min-height: calc(100vh - 80px);

  .site-card {
    background: #fff;
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, .1);
    border-radius: 6px;
    padding: 15px;
    border: 1px solid #fff;
    color: #282a3c;
    overflow-x: auto;
  }

}

.site-cancel-button {
  transition: all .3s ease 0s;
  padding: .65rem 15px;
  line-height: 1.5;
  border-radius: .25rem;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid #e2e5ec;
  color: #595d6e;
  margin-left: 10px;

  &:active,
  &:hover {
    color: #212529 !important;
    background-color: #c0c0dd !important;
    border-color: #b7b7d9 !important;
  }
}

.has-error {
  border: 1px solid #a94442;
}

.pull-right {
  float: right;
}

.mb-10 {
  margin-bottom: 10px;
}

.search-box {
  margin-bottom: 15px;
  width: 260px;
  float: right;
}


table {
  width: 100%;
}
